<div>
    <div [hidden]="mostrarFormulario" [hidden]="formularioAgregarBitacora">

        <button mat-raised-button id="agregar" (click)="agregar()" style="float:right;">Agregar Servicio</button>

        <!--Tabla movil servicio-->
    
        <table mat-table [dataSource]="dataSource" matSort style="overflow-x:auto; width: 100%;">
    
            <ng-container matColumnDef="servNombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
                <td mat-cell *matCellDef="let serv"> {{ serv.servNombre }} </td>
            </ng-container>
    
            <ng-container matColumnDef="mosePeriodo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Periodo </th>
                <td mat-cell *matCellDef="let serv"> {{serv.mosePeriodo}} </td>
            </ng-container>
    
            <ng-container matColumnDef="moseKM">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> KM </th>
                <td mat-cell *matCellDef="let serv"> {{serv.moseKM}} </td>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let serv">
                    <button title="editar servicio" mat-raised-button color="primary" style="margin-right: 10px;" (click)="edit(serv)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button title="eliminar servicio" mat-raised-button color="primary" style="margin-right: 10px;" (click)="delete(serv)">
                        <mat-icon>delete</mat-icon>
                    </button>  
                    <button title="realiar servicio" mat-raised-button color="primary" (click)="agregarBitacora(serv)">
                        <mat-icon>add</mat-icon>
                    </button>  
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="columnas" ></tr>
            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay datos..</td>
            </tr>
        </table>
      
        
        <!--Paginador-->
        
        <mat-paginator [pageSizeOptions]="[1, 4, 10]" showFirstLastButtons></mat-paginator>
         
    </div>

    <div *ngIf="mostrarFormulario">
        <form [formGroup]="form">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Servicio</mat-label>
                <mat-select formControlName="moseServId" required>
                    <mat-option *ngFor="let serv of items" [value]="serv.moseServId">
                        {{serv.servNombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>   
                <button mat-raised-button type="button"  (click)="cancelar()">Cancelar</button>   
                <button mat-raised-button type="button" color="primary" (click)="guardar()" >Guardar</button>
            </div>
        </form>
       
    </div>

</div>

<div *ngIf="formularioAgregarBitacora">
    <button mat-raised-button  (click)="cancelar()" style="float: right;">Salir</button>
    <app-movil-bitacora [desdeMS]="true"></app-movil-bitacora>
</div>