<div style="margin-top: 20px;">
    <mat-form-field  appearance="legacy">
        <mat-label>Buscar por Patente</mat-label>
        <input matInput  (keyup.enter)="buscar()" [(ngModel)]="patente" placeholder="Ej : AAA111" >
    </mat-form-field>&nbsp;
    <mat-form-field  appearance="legacy">
        <mat-label>Buscar por Descripcion</mat-label>
        <input matInput  (keyup.enter)="buscar()" [(ngModel)]="descripcion"  placeholder="Ej : CV11A ..">
    </mat-form-field>&nbsp;
    <mat-form-field  appearance="legacy">
        <mat-label>Buscar por Dependencia</mat-label>
        <input matInput  (keyup.enter)="buscar()" [(ngModel)]="dependencia" placeholder="Ej: CRIA VECINAL ..">
    </mat-form-field>

    <button mat-raised-button style="margin-left: 10px;" (click)="buscar()">Buscar</button>
</div>