#b {
    background-color: rgb(235, 235, 235);
} 

#tabla {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

#td {
    padding: 10px;
  }
#th {
    font-size: medium;
    color: rgb(111, 111, 112);
}

#divider {
      width: 50%;
  }