/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 100%;
    
  }
  .mat-form-field {
    font-size: 14px;
    width: 25%;
  }
  
  
   #agregar {
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  #filtro {
    margin-right: auto; 
    margin-bottom: auto; 
    margin-top: 20px;
    margin-left: 20px;
  }

  #salir {
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: auto;
    margin-right: auto;
  }

  #b {
    background-color: rgb(235, 235, 235);
} 

#tabla {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

#td {
    padding: 10px;
  }
#th {
    font-size: medium;
    color: rgb(111, 111, 112);
}

#divider {
      width: 50%;
  }

.center {
  display: flex;
  justify-content: center;
}